<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true" scanPeriod="300 seconds" debug="false">
    <property name="appName" value="sso-server"/>
    <contextName>sso-server</contextName>
    <include resource="logback-spring-base.xml"/>

        <logger name="io.github.wendy512" level="INFO">
            <!-- 输出到上面配置的对应的输出流中 -->
            <appender-ref ref="DEBUG_FILE"/>
            <appender-ref ref="INFO_FILE"/>
            <appender-ref ref="ERROR_FILE"/>
        </logger>
        
        <logger name="io.github.wendy512.easyboot.sso.user.mapper" level="DEBUG">
            <!-- 输出到上面配置的对应的输出流中 -->
            <appender-ref ref="DEBUG_FILE"/>
            <appender-ref ref="INFO_FILE"/>
            <appender-ref ref="ERROR_FILE"/>
        </logger>


</configuration>